# Django Settings
SECRET_KEY=django-insecure-your-secret-key-here
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1, lebenslaufai.vercel.app

# AI Services
DEEPSEEK_API_KEY=

# Social OAuth Credentials (django-allauth & React SDK)
VITE_GOOGLE_CLIENT_ID=client-id

GOOGLE_CLIENT_ID=client-secret


GOOGLE_CLIENT_SECRET=client-secret


LINKEDIN_CLIENT_ID=linkedin-client-id
LINKEDIN_CLIENT_SECRET=linkedin-client-secret

GITHUB_CLIENT_ID=github-client-id
GITHUB_CLIENT_SECRET=client-secret
