Django>=4.2,<5.0
djangorestframework>=3.14.0
djangorestframework-simplejwt>=5.2.2
django-cors-headers>=4.0.0
python-dotenv>=1.0.0
requests>=2.31.0
gunicorn>=21.2.0
dj-database-url>=2.1.0
psycopg2-binary>=2.9.9
whitenoise>=6.5.0
pypdf>=3.0.0
PyPDF2>=3.0.0
django-allauth>=65.0.0
pyotp>=2.9.0
qrcode>=7.4.2
zxcvbn-python>=4.4.0
django-ipware>=5.0.0
Pillow>=10.0.0

